<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Available Variants <%= product.product_variants.count %></strong>
    <br><br>
    <% product.product_variants.each do |variant| %>
      <%= variant.color %>
      <%= variant.size %>
      <br>
    <% end %>
  </p>
</div>
